.admin-panel-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-block-end: 2em;
}

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.category,
.rule,
.question {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-block: 0.5em;
}


.db-functions {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 0.5em);
}

.user-link {
  width: 100%;
  padding: 1em;
  margin-block: 1em;
  background: var(--primary-clr);
  border-radius: 0.25em;
  transition: var(--transition);
}

.user-link:hover,
.user-link:focus {
  background: var(--secondary-clr-dark);
  color: var(--hover-color);
}