.rule-container {
  width: 80%;
  max-width: 100rem;
  background: var(--primary-clr);
  /* height: 80%;
  max-height: 57rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-radius: 1rem;
  padding: 1em;
}

.rule-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.rule {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-clr);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.rule-header {
  font-size: 3rem;
  margin-block-end: 1rem;
}

.rule-example-header {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.rule-example .example {
  text-align: center;
}

.rule-section p {
  margin-block-end: 1rem;
}
.rule-section p:last-child {
  margin-block-end: 0;
}

.buttons-container {
  width: 80%;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.next-buttons {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: flex-end;
}
