.confetti-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    /* z-index: -1 !important; */
    pointer-events: none !important;
  }
  
  .confetti {
    width: 15px;
    height: 15px;
    background-color: #ffd730;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;
  
    pointer-events: none !important;

    box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.3);
  }
  .confetti:nth-child(2n) {
    background-color: #69b1f5;
    left: 10%;
    animation-delay: 0;
  }
  .confetti:nth-child(2n + 1) {
    background-color: #5cbf7d;
    left: 20%;
    animation-delay: -5s;
  }
  .confetti:nth-child(2n + 2) {
    background-color: #ff9643;
    left: 30%;
    animation-delay: -3s;
  }
  .confetti:nth-child(2n + 3) {
    background-color: #ff2a00;
    left: 40%;
    animation-delay: -2.5s;
  }
  .confetti:nth-child(2n + 4) {
    background-color: #ae00ff;
    left: 50%;
    animation-delay: -4s;
  }
  .confetti:nth-child(2n + 5) {
    background-color: #0c00b0;
    left: 60%;
    animation-delay: -6s;
  }
  .confetti:nth-child(2n + 6) {
    background-color: #bf5e34;
    left: 70%;
    animation-delay: -1.5s;
  }
  /* .confetti:nth-child(2n + 7) {
      background-color: #95c3de; left: 80%; animation-delay: -2s;
    } */
  .confetti:nth-child(2n + 7) {
    background-color: #ff6ceb;
    left: 80%;
    animation-delay: -2s;
  }
  /* .confetti:nth-child(2n + 8) {
      background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
    } */
  .confetti:nth-child(2n + 8) {
    background-color: #27b8b0;
    left: 90%;
    animation-delay: -3.5s;
  }
  /* .confetti:nth-child(2n + 9) {
      background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
    } */
  /* .confetti:nth-child(2n + 9) {
      background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
    } */
  
  @keyframes confetti {
    0% {
      transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
      transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
      transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
      transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
      transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
  }

  h2 {
    position: absolute;
    /* color: black; */
    box-shadow: none;
    transform: rotate(-15deg);
    font-size: 5em;
    opacity: 10%;
  }

  p {
    font-size: 3em;
    opacity: 50%;
  }