.category-grades,
.rule-grades,
.question-grades {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 1em;
}

.category-grade,
.rule-grade,
.question-grade {
  width: 80%;
  max-width: 50em;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.25);
  padding-block: 1em;
}

.category-progress-bar,
.rule-progress-bar,
.question-progress-bar {
  width: 4em;
  aspect-ratio: 1;
  border-radius: 50%;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: green;
  z-index: 5;
}

.category-progress-bar::before,
.rule-progress-bar::before,
.question-progress-bar::before {
  position: absolute;
  /* content: attr(data-grade); */
  content: "";
  width: 130%;
  height: 130%;
  border-radius: 50%;
  /* background: green; */
  background: conic-gradient(var(--conic-gradient-color, red) var(--conic-gradient-percentage, 0%), white 0);
  z-index: 4;
}

.category-progress-bar::after,
.rule-progress-bar::after,
.question-progress-bar::after {
  position: absolute;
  content: "";
  content: attr(data-grade);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--bg);
  /* background: var(--secondary-clr); */
  z-index: 6;
}
