.quiz-container {
  background: var(--primary-clr);
  border-radius: 1em;
  width: 80%;
  max-width: 50em;
  padding: 1em;
}

.quiz-question {
  padding: 0.5em 1em;
}

.quiz-question,
.quiz-answers {
  width: 100%;
}

.quiz-question p {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}

.quiz-answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap, 0.5em);
}

.answer-container {
  width: 100%;
  background: var(--secondary-clr);
  display: flex;
  border-radius: 0.25em;
}

.answer-container:focus-within,
.answer-container:hover {
  background: var(--secondary-clr-dark);
  color: var(--hover-color);
}

.answer-container a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0.5em 1em;
}

.answer-container a:hover,
.answer-container a:focus {
  color: var(--hover-color);
}

.quiz-answers div[draggable="true"] {
  cursor: grab;
  width: fit-content;
  padding: 1em;
  display: flex;
}

.page-content {
  justify-content: center;
  padding-block-start: 0em;
}

.quiz-indicator {
  width: 1em;
  height: 3em;
  position: absolute;
  left: 0;
  top: 0;
  background: red;
  color: white;
  font-size: 4rem;
  font-weight: 900;
  text-align: end;
  border-radius: 0 0 4em 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  padding: 0 1em 0.1em 0;
}

.empty span {
  background: none;
}
